**1- Dado el registro de notas de los alumnos de la forma (padrón, materia, nota, fecha). Se pide
resolver utilizando Pandas:**

A. Cuál es el promedio de notas

B. Cuál es la nota más alta y la nota más baja registrada durante el año 2019.

C. Cuál es el padrón con mayor cantidad de materias aprobadas durante el último
cuatrimestre.

D. Cuál es la nota promedio

E. Cuál es la nota promedio por padrón.

In [38]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("ej1.csv")
df.head()

   Padron       Materia  Nota       Fecha
0  101070        Taller     7  12/08/2018
1  101091  Algoritmos 3     0  13/02/2018
2  101055  Algoritmos 1     8  19/03/2019
3  101058      Fisica 2     0  21/12/2019
4  101092  Algoritmos 1     8  19/11/2018

In [4]:
#A
print("El promedio de notas es: ", df["Nota"].mean())

El promedio de notas es:  5.029

In [25]:
#B
df["Fecha"] = pd.to_datetime(df["Fecha"])
df_2019 = df.loc[df["Fecha"].dt.year == 2019]
print("La nota mas alta del 2019 es: ", df_2019["Nota"].nlargest(1).to_list()[0])
print("La nota mas baja del 2019 es: ",df_2019["Nota"].nsmallest(1).iloc[0])

La nota mas alta del 2019 es:  10
La nota mas baja del 2019 es:  0

El to_list es para sacarse de encima el índice de la serie que devuelve nlargest y el [0] es para quedarse con el primer valor sin que sea una lista. La segunda opción con el iloc que filtra a la de posición 0 es como mejor.

In [30]:
#C
df["Aprobada"] = df["Nota"] >= 4
df.groupby("Padron").agg({"Aprobada": sum}).nlargest(1, columns="Aprobada")

        Aprobada
Padron
101055      14.0

In [36]:
#C v2
df["Aprobada"] = df["Nota"] >= 4
df.groupby("Padron").agg({"Aprobada": sum}).reset_index().nlargest(1, columns="Aprobada")["Padron"].iloc[0]

101055

In [39]:
#D - Asumo que pide la nota promedio del padrón anterior
df.groupby("Padron").agg({"Aprobada": sum, "Nota": np.mean}).nlargest(1, columns = "Aprobada")["Nota"]

Padron
101055    6.0
Name: Nota, dtype: float64

In [42]:
#E
nota_promedio_x_padron = df.groupby("Padron").agg({"Nota": np.mean})
nota_promedio_x_padron.columns = ["Nota promedio"]
nota_promedio_x_padron.head()

        Nota promedio
Padron
101000       4.000000
101001       5.000000
101002       5.571429
101003       4.846154
101004       5.888889