**1- Dado el registro de notas de los alumnos de la forma (padrón, materia, nota, fecha). Se pide
resolver utilizando Pandas:**

A. Cuál es el promedio de notas

B. Cuál es la nota más alta y la nota más baja registrada durante el año 2019.

C. Cuál es el padrón con mayor cantidad de materias aprobadas durante el último
cuatrimestre.

D. Cuál es la nota promedio

E. Cuál es la nota promedio por padrón.

In [38]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("ej1.csv")
df.head()

   Padron       Materia  Nota       Fecha
0  101070        Taller     7  12/08/2018
1  101091  Algoritmos 3     0  13/02/2018
2  101055  Algoritmos 1     8  19/03/2019
3  101058      Fisica 2     0  21/12/2019
4  101092  Algoritmos 1     8  19/11/2018

In [4]:
#A
print("El promedio de notas es: ", df["Nota"].mean())

El promedio de notas es:  5.029

In [25]:
#B
df["Fecha"] = pd.to_datetime(df["Fecha"])
df_2019 = df.loc[df["Fecha"].dt.year == 2019]
print("La nota mas alta del 2019 es: ", df_2019["Nota"].nlargest(1).to_list()[0])
print("La nota mas baja del 2019 es: ",df_2019["Nota"].nsmallest(1).iloc[0])

La nota mas alta del 2019 es:  10
La nota mas baja del 2019 es:  0

El to_list es para sacarse de encima el índice de la serie que devuelve nlargest y el [0] es para quedarse con el primer valor sin que sea una lista. La segunda opción con el iloc que filtra a la de posición 0 es como mejor.

In [30]:
#C
df["Aprobada"] = df["Nota"] >= 4
df.groupby("Padron").agg({"Aprobada": sum}).nlargest(1, columns="Aprobada")

        Aprobada
Padron
101055      14.0

In [36]:
#C v2
df["Aprobada"] = df["Nota"] >= 4
df.groupby("Padron").agg({"Aprobada": sum}).reset_index().nlargest(1, columns="Aprobada")["Padron"].iloc[0]

101055

In [39]:
#D - Asumo que pide la nota promedio del padrón anterior
df.groupby("Padron").agg({"Aprobada": sum, "Nota": np.mean}).nlargest(1, columns = "Aprobada")["Nota"]

Padron
101055    6.0
Name: Nota, dtype: float64

In [42]:
#E
nota_promedio_x_padron = df.groupby("Padron").agg({"Nota": np.mean})
nota_promedio_x_padron.columns = ["Nota promedio"]
nota_promedio_x_padron.head()

        Nota promedio
Padron
101000       4.000000
101001       5.000000
101002       5.571429
101003       4.846154
101004       5.888889

**2- Se tiene un registro de transacciones bancarias, de la forma (nro de transacción, tipo de
transacción, cuenta origen, cuenta destino, fecha, hora, monto). Se pide resolver en Pandas:**

- A. Validar que todas las transacciones cuenten con un tipo de transacción.
- B. Validar que para las transacciones del tipo transferencia, exista siempre tanto cuenta origen como cuenta destino.
- C. Verificar que todas las transacciones del tipo transferencia, depósito y extracción cuenten con montos distintos de cero.
- D. Indicar cuáles fueron las 10 transacciones de mayor monto.
- E. Indicar cuál es el tipo de transacción que registra mayor monto promedio.
- F. Indicar cuáles son las 5 cuentas con mayor cantidad de transacciones.
- G. Indicar cuáles son las 5 cuentas con mayor monto involucrado.
- H. Para el tipo de transacción con mayor cantidad de monto promedio, indicar cuales son las 5 cuentas con más transacciones

In [52]:
transacciones = pd.read_csv("ej2.csv")

In [53]:
transacciones.head()

,nro_transaccion,tipo,origen,destino,fecha,hora,monto
0,1,extraccion,125-95-0734,270-07-8066,05/30/2018,11:51 PM,8418.72
1,2,deposito,287-84-5589,811-03-1465,03/12/2019,11:37 PM,2807.43
2,3,transferencia,377-01-6391,348-88-7758,07/28/2017,7:21 PM,1459.37
3,4,deposito,503-44-1114,573-71-1411,07/16/2018,12:08 AM,2866.63
4,5,extraccion,370-19-4445,584-37-8147,09/19/2019,9:49 AM,5534.98

In [54]:
#A
transacciones["tipo"].isna().any()

False

In [56]:
#B
transferencias = transacciones.loc[transacciones["tipo"] == "transferencia"]
transferencias["origen"].isna().any() or transferencias["destino"].isna().any()

False

In [51]:
#C