In [53]:
import pandas as pd
import datetime as dt

Ejercicio 1:
A) Promedio de notas
B) Cuál es la nota más alta y la nota más baja registrada durante el año 2019.
C) Cuál es el padrón con mayor cantidad de materias aprobadas durante el último cuatrimestre.
D) Cuál es la nota promedio
E) Cuál es la nota promedio por padrón

In [23]:
#A:
df = pd.read_csv("Ej1.csv")

In [24]:
df.mean()

Padron    101051.017
Nota           5.029
dtype: float64

In [28]:
df["aux"] = 'A'
prom = df.groupby("aux").agg({'Nota':'mean'})
prom

      Nota
aux
A    5.029

In [32]:
df = df.drop(columns = 'aux')

In [59]:
#B:
df.dtypes
df.Fecha = pd.to_datetime(df.Fecha)
df19 = df.loc[df.Fecha.dt.year == 2019]
max = df19.loc[df19.Nota == df19.Nota.max()]
max.reset_index().drop(columns = 'index').sample(5)

    Padron       Materia  Nota      Fecha
28  101055         Datos    10 2019-01-15
4   101086        Taller    10 2019-09-20
7   101012      Discreta    10 2019-11-12
15  101060  Algoritmos 3    10 2019-06-07
33  101041  Algoritmos 2    10 2019-04-30

In [60]:
min = df19.loc[df19.Nota == df19.Nota.min()]
min.reset_index().drop(columns = 'index').sample(5)

    Padron       Materia  Nota      Fecha
3   101073  Algoritmos 1     0 2019-05-13
5   101010    Analisis 2     0 2019-10-15
31  101096      Fisica 2     0 2019-07-23
25  101091  Algoritmos 3     0 2019-11-28
11  101054  Algoritmos 1     0 2019-06-19

In [80]:
#C:
inicio = df.Fecha.max()
unMes = dt.timedelta(4*365/12)
inicio = inicio - unMes
dfUltCuatri = df.loc[df.Fecha >= inicio]

In [82]:
dfUltCuatri = dfUltCuatri.loc[dfUltCuatri.Nota >= 4]
dfUltCuatri['cantidad'] = 1
aprobadas = dfUltCuatri.groupby('Padron').agg({'cantidad':sum})
alumno = aprobadas.loc[aprobadas.cantidad >= aprobadas.cantidad.max()]
alumno

        cantidad
Padron
101012         3
101013         3
101021         3
101022         3
101058         3
101065         3
101067         3
101081         3
101091         3
101100         3